.footer {
   width: 100%;
   min-height: 8vh;
   background-color: #323232;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0 10%;
   color: rgb(255, 247, 232);
   font-family: 'Lato', sans-serif;
   font-size: 2rem;
 }

 @media (max-width: 767px) {
  .footer {
    font-size: 1.5rem;
    flex-wrap: wrap;
  }
 }